*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    box-sizing: border-box;
}
body{
    background-image: url(./img/main-screen__bgc.png);
    background-size: cover;
    height: 740px;
    overflow: hidden;
}
/* start_____header */
.header {
    max-width: 1900px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    width: 40px;
    height: 40px;
    border: 1px solid #000;
    margin: 0 0 0 80px;
}
.nav__ul {
    display: flex;
    width: 600px;
    justify-content: space-between;
    color: #fff;
}
.li__a{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
}
.button {
    width: 183px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
    border-radius: 50px;
    color: #fff;
    margin: 0 80px 0 0;
    cursor: pointer;
    transition: 1s;
}
.button:hover{
    background: linear-gradient(94.26deg, #8a6cac 9.51%, #493e91 90.23%);
}
/* end______header */
.conteiner {
    max-width: 920px;
    height: 410px;
    margin-top:100px ;
    margin-left: 200px;
    display: flex;
    flex-wrap: wrap;
}
.calendar__text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 140%;
    color: #FFFFFF;
    animation: calendar_text 2s linear ;
}
@keyframes calendar_text{
    0%{
        transform: translateX(-1000px);
    }
}
.calendar__conteiner {
    width: 107px;
    height: 112px;
    margin: 50px 30px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #121212;
    animation: conteiner_1 3s linear;
}
@keyframes conteiner_1{
    0%{
        transform: translateY(3500px);
    }
}
.calendar__conteiner:nth-child(2){
    animation: conteiner_2 2.4s linear;
}
@keyframes conteiner_2{
    0%{
        transform: translateY(2000px);
    }
}
.calendar__conteiner:nth-child(3){
    animation: conteiner_3 2.6s linear;
}
@keyframes conteiner_3{
    0%{
        transform: translateY(2500px);
    }
}
.calendar__conteiner:nth-child(4){
    animation: conteiner_4 2.8s linear;
}
@keyframes conteiner_4{
    0%{
        transform: translateY(3000px);
    }
}
.text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 140%;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.text-2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    color: #FFFFFF;
    opacity: 0.4;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.footer {
    height: 130px;
    background-color: #121212;
    display: flex;
    align-items: center;
    justify-content: space-around;
    animation: footer 3.5s linear;
}
@keyframes footer{
    0%{
        transform: translateY(1000px);
    }
}
.footer__conteiner {
    width: 1400px;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.footer__button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 169px;
    height: 44px;
    background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
    border-radius: 50px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
    transition: 1s;

}
.footer__button:hover{
    background: linear-gradient(94.78deg, #aa463e 11.19%, #390e39 93.72%);
}
.peple {
    height: 58px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.nests {
    width: 715px;
    height: 58px;
}
.peple__1 {
    display: flex;
    justify-content: space-between;
}
.peaple__2 {
    display: flex;
    justify-content: space-between;
}
.nests__pay {
    width: 280px;
    display: flex;
    justify-content: space-between;
}
.nests__shcala {
    width: 714px;
    height: 6px;
    background: #FFFFFF;
}
.nests__money {
    display: flex;
    justify-content: space-between;
}
.peple__1-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
    opacity: 0.4;
}
.peple__1-text-2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
}
.peple__2-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
    opacity: 0.4;
}
.peple__2-text-2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
}
.pay__money {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
    opacity: 0.4;
}
.money {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
}
.shcala__mini {
    width: 440px;
    height: 6px;
    background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
}
.money__0 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
    opacity: 0.4;
}
.money__1000000 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
    opacity: 0.4;
}